<header class="header container primary-gradient-background">
  <h1 class="position-absolute">
    <%= link_to groups_path do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
  </h1>
  <h1 class="text-center margin-y">Create Group</h1>
</header>

<%= form_with model: @group, data: { turbo: false }, class: "container form margin-y border-y" do |form| %>

  <div class="form-group">
    <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :icon, placeholder: "Icon link", class: "form-control", required: true %>
  </div>

  <%= form.submit "Save", class: "btn align-self-start margin-y" %>

<% end %>
