<header class="header container primary-gradient-background position-relative">
  <h1 class="position-absolute">
    <%= link_to groups_path do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    </h1>
  <h1 class="text-center margin-y">Operations for <%= @group.name %></h1>
</header>
<section>
  <div class="money-amount">
    <p  class="text-center">Money spent: $<%= group_amount(@group) %></p>
  </div>
  <% if @operations.empty? %>
    <div class="information padding border">
      <h3 class="text-center">No operations yet.</h3>
    </div>
  <% else %>
    <% @operations.each do |operation| %>
      <div class="information d-flex justify-content-evenly padding border">
        <h3><%= operation.name %></h3>
        <p>$<%= operation.amount %></p>
      </div>
    <% end %>
  <% end %>
  <div class="margin">
    <%= link_to "Add operation", new_operation_path, class: "btn" %>
  </div>
</section>
